
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-300%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(300%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInFromTopLeft {
    0% {
        transform: translate(-100%, -300%);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes slideInFromTopRight {
    0% {
        transform: translate(100%, -300%);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes slideInFromBottomLeft {
    0% {
        transform: translate(-100%, 300%);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes slideInFromBottomRight {
    0% {
        transform: translate(100%, 300%);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.slideLeft {
    animation: slideInFromLeft 600ms ease-out;
}

.slideRight {
    animation: slideInFromRight 600ms ease-out;
}

.slideTop {
    animation: slideInFromTop 600ms ease-out;
}

.slideBottom {
    animation: slideInFromBottom 600ms ease-out;
}

.slideTopLeft {
    animation: slideInFromTopLeft 600ms ease-out;
}

.slideTopRight {
    animation: slideInFromTopRight 600ms ease-out;
}

.slideBottomLeft {
    animation: slideInFromBottomLeft 600ms ease-out;
}

.slideBottomRight {
    animation: slideInFromBottomRight 600ms ease-out;
}

@for $idx from 1 through 5 {
    .delay-#{idx} {
        animation-delay: calc(200ms * #{$idx});
    }
}