.footer-design {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: -100;
}

.footer-design svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 117px;
}

.footer-design .shape-fill {
  fill: #6C63FF;
}