
.content {
  position: relative;
  display: block;
}

.spacer {
  height: 100px;
}

.test {
  /* color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}