:root {
  --clr-accent-500: #5c52f2;
  --clr-accent-400: #6c63ff;

  --clr-neutral-600: #181717;
  --clr-neutral-400: #212121;
  --clr-neutral-200: #E7E5FF;
  --clr-neutral-100: #FFFFFF;

  --clr-title-1: #ccd6f6;
  --clr-subtitle-1: #8892b0;
  --clr-body-1: #828daa;

  --clr-box-shadow: rgba(204, 214, 246, 0.24);
}
