.fade-in {
  opacity: 0;
}

.fade-in-done {
  --params: 750ms ease-in-out;
  opacity: 1;
  transform: translateX(0);
  transition:
    opacity var(--params),
    transform var(--params);
}

.fade-left {
  transform: translateX(-50%);
}

.fade-right {
  transform: translateX(50%);
}